{% extends 'base.html.twig' %}

{% block body %}
{% include "@FOSUser/Registration/register_content.html.twig" %} 
{% include "navbar.html.twig" %} 
<h1>Bienvenue Client</h1>

<div><a href="{{path('fos_user_security_logout')}}"></a>Veuillez-vous déonnectez</div>







{% endblock %}